@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  background: #160C6D;
}
nav ul li .nav-link {
  font-size: 18px !important;
  color: #FAFAFE;
  font-weight: 600;
}
nav ul li .nav-link:hover {
  color: #1BBF00;
}
nav .contactBtn {
  background: #1bbf00;
  padding: 14px 28px;
  color: #FAFAFE;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  border: 0;
}

#banner {
  background: url("../image/banner.jpg") no-repeat center;
  background-size: cover;
}
#banner .overlay {
  background: #6B62C5;
  opacity: 0.9;
  padding: 246px 0 254px 0;
  height: 100%;
  width: 100%;
  position: relative;
}
#banner .overlay .text_area {
  text-align: center;
}
#banner .overlay .text_area h1 {
  font-size: 84px;
  line-height: 100px;
  font-weight: 600;
  color: #FAFAFE;
  text-transform: capitalize;
}
#banner .overlay .text_area p {
  font-family: "Paprika", system-ui;
  max-width: 715px;
  font-size: 24px;
  line-height: 40px;
  color: #E6E5F3;
  font-weight: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
#banner .overlay .text_area .banner_btn {
  background: 0;
  padding: 14px 28px;
  color: #FAFAFE;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  margin-top: 16px;
  margin-right: 28px;
  border: 2px solid #1BBF00;
  text-transform: capitalize;
}
#banner .overlay .text_area .banner_btn:hover {
  background: #1BBF00;
}
#banner .overlay .img_one {
  position: absolute;
  top: 304px;
  left: 31px;
}
#banner .overlay .img_two {
  position: absolute;
  right: 310px;
  bottom: 74px;
}

#sucess {
  background: #F9F9FB;
  padding: 283px 0 285px 0;
  position: relative;
}
#sucess img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
#sucess .sucess {
  border-right: 2px solid rgba(79, 88, 95, 0.6);
  text-align: center;
  z-index: 1;
}
#sucess .sucess h2 {
  font-size: 60px;
  line-height: 68px;
  color: #1BBF00;
  font-weight: 800;
}
#sucess .sucess h4 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}
#sucess .last_child {
  border-right: 0;
}

#choose {
  padding-top: 100px;
  padding-bottom: 91px;
  background: #FDFDFD;
}
#choose .text_wrapper {
  display: flex;
  transition: 0.4s;
  margin-bottom: 17px;
  padding: 10px 10px;
}
#choose .text_wrapper:hover {
  background: #ffffff;
  box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
#choose .text_wrapper img {
  width: 38px;
  height: 25px;
  margin-top: 5px;
}
#choose .text_wrapper p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726e9e;
  padding-left: 37px;
}
#choose .text_area {
  padding-left: 50px;
}
#choose .text_area h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
}
#choose .text_area p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726e9e;
  width: 393px;
  margin-top: 9px;
}
#choose .text_area .contactBtn {
  background: #1bbf00;
  padding: 14px 28px;
  color: #FAFAFE;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  border: 0;
}

#services {
  background: #F6F5FF;
  padding: 100px 0;
}
#services .service_item {
  height: 395px;
}
#services .service_item h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  padding-top: 10px;
}
#services .service_item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #6c7d93;
  letter-spacing: 0.5px;
  width: 350px;
  margin-top: 20px;
}
#services .service_item .contactBtn {
  background: #1bbf00;
  padding: 14px 28px;
  color: #FAFAFE;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  margin-top: 76px;
  margin-right: 0;
  border: 0;
}
#services .service_items {
  text-align: center;
  background: #ffffff;
  padding: 46px;
  margin-top: 20px;
  border-radius: 20px;
  transition: 0.4s;
  height: 395px;
}
#services .service_items:hover {
  background: #6b62c5;
  color: white;
}
#services .service_items:hover h4 {
  color: #FAFAFE;
}
#services .service_items:hover p {
  color: #E6E5F3;
}
#services .service_items:hover a {
  color: #F4F4F5;
}
#services .service_items:hover a::after {
  background: rgba(255, 255, 255, 0.3);
  width: 120px;
  border-radius: 20px;
}
#services .service_items h4 {
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
  margin-top: 32px;
}
#services .service_items p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726e9e;
  width: 257px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#services .service_items a {
  font-size: 18px;
  font-weight: 700;
  color: #141135;
  line-height: 24px;
  text-decoration: none;
  position: relative;
}
#services .service_items a::after {
  content: "";
  width: 27px;
  height: 40px;
  background: rgba(27, 191, 0, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -11px;
  border-radius: 0 20px 20px 0;
}

#impact {
  background: #FFFFFF;
  padding-top: 91px;
  position: relative;
}
#impact .text_area {
  text-align: center;
}
#impact .text_area h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  margin-bottom: 23px;
}
#impact .text_area p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 558px;
  color: #726e9e;
  margin: 0 auto;
}
#impact .impact_items {
  display: flex;
  margin-top: 75px;
}
#impact .impact_items img {
  width: 63px;
  height: 63px;
}
#impact .impact_items .textArea {
  text-align: left;
  margin-left: 35px;
}
#impact .impact_items .textArea h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
  margin-bottom: 20px;
}
#impact .impact_items .textArea p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
  width: 343px;
}
#impact .image_area {
  margin-top: 20px;
}
#impact .impact_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

#plan {
  background: #F9F9FB;
  padding: 100px 0;
}
#plan h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  text-align: center;
  padding-bottom: 64px;
}
#plan .card_item {
  text-align: center;
  width: 370px;
  border-radius: 20px;
  background: #fff;
  transition: 0.4s;
}
#plan .card_item:hover {
  background: #6B62C5;
}
#plan .card_item:hover h3 {
  color: #fafafe;
}
#plan .card_item:hover p {
  color: #E6E5F3;
}
#plan h3 {
  font-size: 30px;
  font-weight: 36px;
  font-weight: 600;
  color: #141135;
  padding-top: 60px;
  padding-bottom: 26px;
}
#plan h4 {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  color: #1BBF00;
  padding: 20px 0 12px 0;
}
#plan h4 sup {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  color: #1BBF00;
}
#plan p {
  font-family: "Paprika", system-ui;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 252px;
  margin: 0 auto;
  color: #726E9E;
  padding-bottom: 60px;
}

#about {
  background: #F8F8FF;
  padding: 100px 0;
}
#about .about {
  text-align: center;
  position: relative;
}
#about .about .left_arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(27, 191, 0, 0.2);
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
#about .about .left_arrow .arrow_left {
  color: #fff;
  top: 50%;
  transform: translateY(50%);
}
#about .about .right_arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(27, 191, 0);
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}
#about .about .right_arrow .arrow_right {
  color: #fff;
  top: 50%;
  transform: translateY(50%);
}
#about .about h2 {
  padding-bottom: 152px;
  font-size: 48px;
  font-weight: 700;
  color: #141135;
}
#about .profile {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  background: #FFF;
  position: relative;
  border-radius: 20px;
}
#about .profile .prfImg1 {
  width: 147px;
  height: 147px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
#about .profile .prfImg2 {
  padding-top: 90px;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
}
#about .profile p {
  font-family: "Paprika", system-ui;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #726E9E;
  width: 800px;
  padding-top: 33px;
  padding-bottom: 48px;
  margin: 0 auto;
}
#about .profile h5 {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #221a2c;
}
#about .profile span {
  font-family: "Paprika", system-ui;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #726E9E;
  display: inline-block;
  padding-bottom: 56px;
}
#about .carousel-control-next .arrow_icon {
  width: 50px;
  height: 50px;
  background: 0;
}

#news {
  background: #f9f9fb;
  padding: 100px 0;
  position: relative;
}
#news .vector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 350px;
}
#news h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  color: #030314;
}
#news .news_wrapper {
  display: flex;
  margin-top: 64px;
}
#news .news_wrapper .news_div {
  width: 380px;
  height: 220px;
  background: #c4c4c4;
  border-radius: 20px;
}
#news .news_wrapper .news_text {
  margin-left: 80px;
}
#news .news_wrapper .news_text ul {
  margin-left: -31px;
}
#news .news_wrapper .news_text ul li {
  display: inline-block;
}
#news .news_wrapper .news_text ul li a {
  font-family: "Quicksand", sans-serif;
  margin-right: 24px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #726e9e;
}
#news .news_wrapper .news_text ul li a:hover {
  color: #1bbf00;
}
#news .news_wrapper .news_text h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  color: #141135;
  letter-spacing: -1.5px;
  margin-bottom: 16px;
  width: 504px;
}
#news .news_wrapper .news_text .learn {
  font-size: 18px;
  font-weight: 600;
  color: #141135;
  line-height: 24px;
  text-decoration: none;
  position: relative;
}
#news .news_wrapper .news_text .learn::after {
  content: "";
  width: 27px;
  height: 40px;
  background: rgba(27, 191, 0, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -11px;
  border-radius: 0 20px 20px 0;
}

#footer {
  background: #48409c;
  padding-top: 157px;
  padding-bottom: 54px;
}
#footer .desc_area img {
  width: 135px;
  height: 73px;
  margin-bottom: 44px;
}
#footer .desc_area p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: rgba(254, 254, 254, 0.9);
}
#footer ul h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  color: #fefefe;
  margin-bottom: 48px;
}
#footer ul li {
  margin-bottom: 30px;
}
#footer ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  color: #fefefe;
}
#footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
#footer .footer_bottom .bottom_left a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: rgba(254, 254, 254, 0.9);
}
#footer .footer_bottom .bottom_right a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: rgba(254, 254, 254, 0.9);
}/*# sourceMappingURL=style.css.map */