$base_color: #160C6D;
$primar_color: #6B62C5;
$text_color: #FAFAFE;
$font_size: 18px;
$green_color: #1BBF00;
$text_white: #E6E5F3;
$border_color: #4F585F;
$heading_color: #141135;
$para_color: #726E9E;