nav{
  background: $base_color;
  ul{
    li{
      .nav-link{
        font-size: $font_size !important;
        color: $text_color;
        font-weight: 600;
        &:hover{
          color: #1BBF00;
        }
      }
    }
  }
  .contactBtn{
    @include btn;
  }
}
