
#plan{
  background: #F9F9FB;
  padding: 100px 0;
  h2{
    font-size: 48px;
    font-weight: 700;
    color: $heading_color;
    text-align: center;
    padding-bottom: 64px;
  }
  .card_item{
    text-align: center;
    width: 370px;
    border-radius: 20px;
    background: #fff;
    transition: 0.4s;
    &:hover{
      background: $primar_color;
    }
    &:hover h3{
      color: #fafafe;
    }
    &:hover p{
      color: #E6E5F3;
    }
  }
  h3{
    
    font-size: 30px;
    font-weight: 36px;
    font-weight: 600;
    color: $heading_color;
    padding-top: 60px;
    padding-bottom: 26px;
  }
  h4{
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    color: $green_color;
    padding: 20px 0 12px 0;
    sup{
      font-family: "Quicksand", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 25px;
      color: $green_color;
    }
  }
  p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 252px;
    margin: 0 auto;
    color: $para_color;
    padding-bottom: 60px;
  }
}